/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fffbf4; /* #FFFBEA; /* light cream background */
  color: #2E2E2E;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4B2E2A; /* #7B5E2A; /* dark brown from logo */

  padding: 25px 40px; /* thicker navbar */
  border-bottom: 7px solid #F5DEB3;
}

.navbar .logo img {
  height: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #FFFBEA; /* cream text */
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.3s;
  font-size: 16px;
}

/* Hover & Active Link */
.navbar ul li a:hover {
  background-color: #FFD966; /* gold accent */
  color: #2E2E2E; /* dark text */
}

 /* .navbar ul li a.active {
  background-color: #5C4520; /* even darker brown *
  color: #FFF;
 } */

 .navbar ul li a.active {
  background-color: #F5DEB3; /* cream background */
  color: #4B2E2A; /* dark brown text */
  border-radius: 5px; 
}


/* Main Content */
main {
  flex: 1; /* pushes footer down */
  padding: 30px 40px;
}

/* Footer */
footer {
  text-align: center;
  padding: 30px; /* bigger footer */
  background: #4B2E2A; /* #7B5E2A; /* dark brown */
  color: #FFFBEA;
  font-size: 15px;
  margin-top: auto;
  border-top: 7px solid #F5DEB3;
}
